[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pysrt = "*"
py-readability-metrics = "*"
textblob = "*"
textacy = "*"
setuptools = "*"

[requires]
python_version = "3.8"
